@{
    ViewBag.Title = "Login Page ";
}

@section head
{

}

@section body
{
    <div class="login_row">
        <div class="login_column">
            <label for="username">Username:</label><input type="text" id="username"  />
            <label for="password">Password:</label><input type="password" id="password"  />
            <input type="button" id="login" value="Login" class="btn" data-role="button" style="background-color: #CCDDFF; color:#194284;float:right;margin-left:10px;margin-bottom:20px;" />
        </div>
    </div>
}  

@section featured {

}

<script>

    $("#login").click(function (e) {
        var login_data = {
            "Username": $("#username").val(),
            "Password": $("#password").val(),
        }
        $.ajax({
            type: "POST",
            url: "UserLogin",
            data: login_data,
            dataType: "json",
            success: function (response) {
                if (response == true) {
                    alert("登入成功");
                    window.location.href = "Search"
                }
                else {
                    alert("登入失敗");
                    $("#username").val("");
                    $("#password").val("");
                }
            },
            error: function (error) {
                alert("你Controller沒進去");
            }
        });

    })
    /*
    function authenticateUser() {
        var userName = $("#username").val();
        var password = $("#password").val();
        var $msg = $("#login-message");

        $.ajax({
            url: "/fakeaccount/_login",
            data: { UserName: userName, Password: password, RememberMe: false },
            dataType: "json",
            type: "POST",
            success: function (data) {
                if (data.Success) {
                    $msg.hide();
                    app.navigate("");
                } else {
                    $msg.html(data.Message).show();
                }
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText)
            }
        });
    }
    */

    /*
    function login() {
        kendo.alert("This is a Kendo UI Alert message.");
        var username = $("#username").val();
        var password = $("#password").val();
        var loginUrl = 'http://myurl.co.uk/appqueries/login.php?username=' + username + '&password=' + password;

        $.ajax({
            url: loginUrl,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                handleLoginResult(data);
            }

        });

    }

    $(document).on("click", "#loginbutton", loginClick);

    function handleLoginResult(data) {
        var status = data.status;
        var message = data.message;

        if (status === "success") {
            // do whatever needs to be done after successful login
            $("#loginresult").html(message);
        }
    }
    */
</script>