@{
    ViewBag.Title = "Login Page ";
}

@section head
{

}

@section body
{
    <div class="login_row">
        <div class="login_column">
            <input id='username' type='text' placeholder="user">
            <input id='password' type='text' placeholder='password'>
            <input type="button" value="LOGIN" onclick="login()" class="btn" style="background-color: #99b2db; color:#194284" />
        </div>
    </div>
}

@section featured {

}

<script>

    function login() {
        kendo.alert("This is a Kendo UI Alert message.");
        var username = $("#username").val();
        var password = $("#password").val();
        var loginUrl = 'http://myurl.co.uk/appqueries/login.php?username=' + username + '&password=' + password;

        $.ajax({
            url: loginUrl,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                handleLoginResult(data);
            }

        });

    }

    $(document).on("click", "#loginbutton", loginClick);

    function handleLoginResult(data) {
        var status = data.status;
        var message = data.message;

        if (status === "success") {
            // do whatever needs to be done after successful login
            $("#loginresult").html(message);
        }
    }
</script>