
@{
    ViewBag.Title = "Main";
}


@section head
{

}

@section body
{
    <div class="row">
        <div class="Full_column">
            <canvas id="full" width="600" height="600" style="border:5px solid"></canvas>
        </div>
        <div class="helloworld">
            <div class="form-group">
                <div class="form-group" style="margin-bottom:10px">
                    <label for="pipelineLocation" class="required">管路位置: </label>
                    <select id="pipelineLocation" name="TubePartName" required validationMessage="請選擇管路位置" style="width: 100%;"></select>
                    <div>
                        <span class="k-invalid-msg" data-for="TubePartName"></span>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom:10px">
                    <label for="pipelineName" class="required">管路名稱: </label>
                    <select id="pipelineName" name="PipelineName" required validationMessage="請選擇管路名稱" style="width: 100%;"></select>
                    <div>
                        <span class="k-invalid-msg" data-for="pipelineName"></span>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom:10px">
                    <label for="bought_datepicker" class="required">放置日期:</label>
                    <input type="text" data-role='datepicker' id="start_datepicker" name="start_datepicker"
                           data-type="date" style="width: 100%;" required validationMessage="請輸入正確日期格式" />
                    <span data-for='start_datepicker' class='k-invalid-msg'></span>
                </div>
                <div class="form-group" style="margin-bottom:10px">
                    <label for="bought_datepicker" class="required">到期日期:</label>
                    <input type="text" data-role='datepicker' id="expiry_datepicker" name="expiry_datepicker"
                           data-type="date" style="width: 100%;" required validationMessage="請輸入正確日期格式" />
                    <span data-for='expiry_datepicker' class='k-invalid-msg'></span>
                </div>
                <div class="form-group" style="margin-bottom:10px">
                    <label for="caliber" class="required"> 管路口徑(french):</label>
                    <input id="caliber" name="Caliber" style="width: 100%;" type="text" min="1" max="34" value="1" required data-max-msg="Enter french between 1 and 34" />
                    <span class="k-invalid-msg" data-for="Caliber"></span>
                </div>
                <div class="form-group" style="margin-bottom:10px">
                    <label for="inbodycm" class="required">管路埋入公分數:</label>
                    <input id="inbodycm" name="Inbodycm" style="width: 100%;" type="text" min="1" max="100" value="1" required data-max-msg="Enter cm between 1 and 34" />
                    <span class="k-invalid-msg" data-for="Inbodycm"></span>
                </div>
                <div class="form-group" style="margin-bottom:50px">
                    <label for="caliber" class="required">備註：</label>
                    <textarea id="pipelineNote" name="PipeLineNote" style="width: 100%;" onkeyup="WordsDeal();" cols="100" rows="2" required validationMessage="請輸入內容簡介"></textarea>
                    <div>
                        <span class="k-invalid-msg" data-for="pipelineNote"></span>
                    </div>
                </div>
                <div class="col-md-10">
                    <input type="button" value="Insert" onclick="add()" class="btn" style="background-color: #99b2db; color:#194284" />
                    <input type="button" value="Save" onclick="location.href = ''" class="btn" style="background-color: #CCDDFF; color:#194284" />
                    <input type="button" value="Delete" onclick="Delete()" class="btn" style="background-color: #CCDDFF; color:#194284" />
                </div>
            </div>
        </div>
    </div>


}

@section featured {

}

<script>

    $(function () {
        $("#start_datepicker").kendoDatePicker({
            value: new Date(),
            min: "1900-01-01",

            dateInput: true,
            format: "yyyy-MM-dd"
        });
        $("#expiry_datepicker").kendoDatePicker({
            value: new Date(),
            min: "1900-01-01",

            dateInput: true,
            format: "yyyy-MM-dd"
        });
        $("#pipelineName").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            optionLabel: "請選擇",
            dataSource: {
                transport: {
                    read: {
                        url: "GetPipeLineDropDownList",
                        type: "post",
                        dataType: "json"
                    }
                }
            }
        });
        $("#pipelineLocation").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            optionLabel: "請選擇",
            dataSource: {
                transport: {
                    read: {
                        url: "GetTubePartNameDropDownList",
                        type: "post",
                        dataType: "json"
                    }
                }
            }
        });
        $("#caliber").kendoNumericTextBox();
        $("#inbodycm").kendoNumericTextBox();

    });

    function WordsDeal() {
        var curLength = $("#pipelineNote").val().length;
        if (curLength > 1000) {
            var num = $("#pipelineNote").val().substr(0, 1000);
            $("#pipelineNote").val(num);
            alert("超過字數限制(1000字)，多出的字將被移除！");
        }
    }



    var locatoinX = []; 
    var locatoinY = [];
    var intubation = 0;
    //讀取資料庫資訊塞進陣列裡面
    var locationPointer = locatoinX.length;
    var img = new Image();
    img.src = "https://i.imgur.com/lQx1bV0.jpg";
    window.onload = function () {
        var lc = document.getElementById("full");
        var rect = lc.getBoundingClientRect();
        var lctx = lc.getContext("2d");
        lctx.drawImage(img, 0, 0, 600, 600);
        lc.onclick = function () {
            if (intubation ==1) {
                var x = event.clientX;
                var y = event.clientY;
                locatoinX[locationPointer] = x - rect.left;
                locatoinY[locationPointer] = y - rect.top;
                locationPointer = locationPointer + 1;
            }
            if (intubation==2) {
                for (var i = 0; i < locationPointer; i++) {
                    if(event.clientX >= locatoinX[i]-5 && event.clientX <= locatoinX[i]+10 && event.clientY>= locatoinY[i]+35 && event.clientY<= locatoinY[i]+50){
                        locatoinX.splice(i,1);
                        locatoinY.splice(i,1);
                        locationPointer = locationPointer - 1;

                    }
                }

            }
            lctx.drawImage(img, 0, 0, 600, 600);
            for (var i = 0; i < locationPointer; i++) {
                lctx.beginPath();
                lctx.arc(locatoinX[i] - 5, locatoinY[i] - 5, 5, 0, 2 * Math.PI);
                lctx.fill();
            }
        };
    }

    function add() {
        intubation = true;
        var mydateInput = document.getElementById("date");
        var date = new Date();
        var dateString = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate();
        mydateInput.value = dateString;
    }
    function Delete(){
        intubation=2;
        var x = event.clientX;
        var y = event.clientY;
        locatoinX[locationPointer] = x;
        locatoinY[locationPointer] = y;
        


    }

    function save() {
        intubation = false;
    }
</script>
