@{
    ViewBag.Title = "MHistory";
}

@section head
{

}
@section body
{
    <!--上面-->
    <div style="height:80vh;">
        <!--左邊-->
        <div style="float:left;width:17%;height:80vh;border-style:solid;border-color: #99b2db;">
            <div style="height:70vh;">
                <h4 style="margin-top:20px;margin-left:15px;font-size:20px;font-weight:bold;">病人用藥</h4>
                <div id="m_treeview" style="margin-top:10px;margin-left:10px;"></div>
            </div>
            <div style="height:30vh;">
                <input type="button" id="delete" value="Delete" onclick="location.href = '/Home/MHistory'" class="btn" style="background-color: #99b2db; color:#194284;margin-left:20px; margin-bottom:30px " />
            </div>

        </div>
        <!--右邊-->
        <div style="float:left;width:83%;height:80vh;border-style:solid;border-color: #99b2db;">
            <!--mdatepicker-->
            <div style="margin-top:20px;margin-left:20px;height:5vh;margin-bottom:3px;">
                <h4 style="float:left;">開始時間:</h4>
                <div style="margin-left: 10px;float:left;">
                    <input style=" float:left;" id="start_datepicker" title="datepicker" />
                </div>
                <div style="margin-left: 20px;float:left;">
                    <h4 style="float:left;">結束時間:</h4>
                </div>
                <div style="margin-left: 10px;float:left;">
                    <input id="end_datepicker" title="datepicker" />
                </div>
                <div style="margin-left: 20px;float:left;">
                    <input type="button" value="search" id="btn_med_search" class="btn" style="background-color: #CCDDFF; color:#194284" />
                </div>
                <div style="float:right;margin-right:20px">
                    <input type="button" value="返回交班頁面" id="btn_med_back" class="btn" style="background-color: #99b2db; color:#194284;" />
                </div>
            </div>
            <!--lable color-->
            <div style="float:left;margin-left:450px;display:none;" id="lable_color">
                <!--門診-->
                <div style="margin-left:0px;float:left;">
                    <div style="margin-top:17px;float:left;">
                        <svg width="30" height="30">
                            <rect width="30" height="30" style="fill:#CCEEFF ;stroke-width:3;stroke:rgb(0,0,0)" />
                        </svg>
                    </div>
                    <div style="float:left;margin-left:2px;">
                        <p style="margin-top:17px;font-size: 20px;font-weight: bold;">:門診<p>
                    </div>
                </div>
                <!--急診-->
                <div style="margin-left:20px;float:left;">
                    <div style="margin-top:17px;float:left;">
                        <svg width="30" height="30">
                            <rect width="30" height="30" style="fill:#FFCCCC ;stroke-width:3;stroke:rgb(0,0,0)" />
                        </svg>
                    </div>
                    <div style="float:left;margin-left:2px;">
                        <p style="margin-top:17px;font-size: 20px;font-weight: bold;">:急診<p>
                    </div>
                </div>
                <!--住院-->
                <div style="margin-left:20px;float:left;">
                    <div style="margin-top:17px;float:left;">
                        <svg width="30" height="30">
                            <rect width="30" height="30" style="fill:#CCFF99 ;stroke-width:3;stroke:rgb(0,0,0)" />
                        </svg>
                    </div>
                    <div style="float:left;margin-left:2px;">
                        <p style="margin-top:17px;font-size: 20px;font-weight: bold;">:住院<p>
                    </div>
                </div>
            </div>
            <!--藥物甘特圖-->
            <div id="my_dataviz" style="height:72.2vh; "></div>
        </div>
    </div>
    <!--下面-->
    <div id="history_grid" style="height:30vh;border-style:solid;border-color: #99b2db;;"></div>
    <script>

        var medclassid = [0];
        var patient_id_search = "";
        patient_id_search = @Html.Raw(Json.Encode(ViewBag.search_id));
        var medname_search = [0];
        var medname_hm = [0];
        var medsource_hm = [0];
        var medstart_hm = [0];
        var med_start_date = "";
        var med_end_date = "";
        var med_date = "";

        //kendo mhistory datepicker(以下影響排版)
        $(function() {
            $("#start_datepicker").kendoDatePicker({
                value: "2020-06-14",
                min: "1900-01-01",
                dateInput: true,
                format: "yyyy-MM-dd"
            });
            $("#end_datepicker").kendoDatePicker({
                value: "2020-06-19",
                min: "1900-01-01",
                dateInput: true,
                format: "yyyy-MM-dd"
            });
            $("#btn_med_back").click(function(){
                $.ajax({
                    type: "post",
                    url: "Getifo",
                    data: { "PatientId": patient_id_search },
                    success: function (response) {
                        if (response == true) {
                            window.location.href = "Switch"
                        }
                    }
                })
            });
            //藥物treeview
            $("#m_treeview").kendoTreeView({
                checkboxes: {
                    checkChildren: true
                },
                check: onCheck,
                dataSource: [{
                    id: 1, text: "所有藥物", expanded: true, spriteCssClass: "rootfolder", items: [
                        {
                            id: 2, text: "抗生素", expanded: true, spriteCssClass: "folder"
                        },
                        {
                            id: 3, text: "抗凝血劑", expanded: true, spriteCssClass: "folder"
                        },
                        {
                            id: 4, text: "抗結核病用藥", expanded: true, spriteCssClass: "folder"
                        },
                        {
                            id: 5, text: "癌症用藥", expanded: true, spriteCssClass: "folder"
                        },
                        {
                            id: 6, text: "高警訊用藥", expanded: true, spriteCssClass: "folder"
                        },
                        {
                            id: 7, text: "胰島素", expanded: true, spriteCssClass: "folder"
                        },
                        {
                            id: 8, text: "電解質", expanded: true, spriteCssClass: "folder"
                        },
                        {
                            id: 9, text: "管制藥品", expanded: true, spriteCssClass: "folder"
                        },
                        {
                            id: 10, text: "HIV用藥", expanded: true, spriteCssClass: "folder"
                        },
                        {
                            id: 11, text: "一般用藥", expanded: true, spriteCssClass: "folder"
                        }

                    ]
                }]
            });
        });


        // function that gathers IDs of checked nodes
        function checkedNodeIds(nodes, checkedNodes) {
            for (var i = 0; i < nodes.length; i++) {
                if (nodes[i].checked) {
                    checkedNodes.push(nodes[i].id );
                }

                if (nodes[i].hasChildren) {
                    checkedNodeIds(nodes[i].children.view(), checkedNodes);
                }
            }

        }

        // show checked node IDs on datasource change
        function onCheck(e) {
            //console.log(this.text(e.node));
            var checkedNodes = [],
                treeView = $("#m_treeview").data("kendoTreeView"),
                message;

            checkedNodeIds(treeView.dataSource.view(), checkedNodes);
            if (checkedNodes.length > 0 && checkedNodes[0]!= 1 && checkedNodes.length != 0) {
                message = checkedNodes;
                medclassid = message.join();
            } else {
                message = "2,3,4,5,6,7,8,9,10,11";
                medclassid = message;
            }
        }

        debugger
        $("#btn_med_search").click(function () {
            console.log(medclassid)
            if (medclassid[0] == 0) {
                alert("Please check at least one medicine!")
            }else{
                //$("#lable_color").show();
                med_start_date = kendo.toString($("#start_datepicker").data("kendoDatePicker").value(), "yyyy-MM-dd");
                med_end_date = kendo.toString($("#end_datepicker").data("kendoDatePicker").value(), "yyyy-MM-dd");

                med_sch_history = {
                    "PatientId":patient_id_search,
                    "MedClassId":medclassid,
                    "MedStart":med_start_date,
                    "MedEnd":med_end_date
                }

                //日期轉換陣列

                var excludeDates=[""];
                function getDates(startDate, stopDate, excludeDates) {
                    var dateArray = [];
                    var currentDate = moment(startDate);
                    var stopDate = moment(stopDate);
                    while (currentDate <= stopDate) {
                        let currentDateString=moment(currentDate).format('YYYY-MM-DD');
                        if(!excludeDates.includes(currentDateString)){
                            dateArray.push( moment(currentDate).format('YYYY-MM-DD') )
                        }
                        currentDate = moment(currentDate).add(1, 'days');
                    }
                    return dateArray;
                }
                med_date=getDates(new Date(med_start_date),new Date(med_end_date), excludeDates);

                $.ajax({
                    type: "Post",
                    url: "GetMedData",
                    data: med_sch_history,
                    dataType: "json",


                });
                $.ajax({
                    type: "GET",
                    url: "GetMedMedName",
                    data: med_sch_history,
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        medname_search = result.medname;
                        heatmap();
                    },
                    error: function (response) {
                        alert('eror');
                    }
                });
            }

        })

        function heatmap(){
            // set the dimensions and margins of the graph
            var margin = {top: 30, right: 30, bottom: 30, left: 130},
              width = (window.screen.width*0.82) - margin.left - margin.right,
              height = 450 - margin.top - margin.bottom;
            // append the svg object to the body of the page
            $("#my_dataviz").empty();
            var svg = d3.select("#my_dataviz")
            .append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
            .append("g")
              .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");

            // Labels of row and columns
            for(var i = 0;i<med_date.length/2;i++){
                temp = med_date[med_date.length-1-i];
                med_date[med_date.length-1-i]=med_date[i];
                med_date[i] = temp;
            }
            var myGroups = med_date
            var myVars = medname_search

            // Build X scales and axis:
            var x = d3.scaleBand()
              .range([ 0, width ])
              .domain(myGroups)
              .padding(0.01);
            svg.append("g")
              .style("font", "17px times")
              .style("font-weight", "bold")
              .attr("transform", "translate(0," + height + ")")
              .call(d3.axisBottom(x))

            // Build X scales and axis:
            var y = d3.scaleBand()
              .range([ height, 0 ])
              .domain(myVars)
              .padding(0.01);
            svg.append("g")
              .style("font", "17px times")
              .style("font-weight", "bold")
              .call(d3.axisLeft(y));

            // Build color scale
            var myColor = d3.scaleLinear()
              .domain([0, 1, 2])
              .range(["#CCEEFF", "#FFCCCC", "#CCFF99"]);
            //Read the data
            d3.json("/Home/PushDataToHM", function (data) {
                // create a tooltip
                var tooltip = d3.select("#my_dataviz")
                  .append("div")
                  .style("opacity", 0)
                  .attr("class", "tooltip")
                  .style("background-color", "white")
                  .style("border", "solid")
                  .style("border-width", "2px")
                  .style("border-radius", "5px")
                  .style("padding", "5px")

                // Three function that change the tooltip when user hover / move / leave a cell
                var mouseover = function(d) {
                    tooltip.style("opacity", 1)
                    d3.select(this)
                        .style("stroke", "black")
                        .style("stroke-width", 3)
                        .style("opacity", 1)
                }

                var mouseleave = function(d) {
                    tooltip.style("opacity", 0)
                    d3.select(this)
                        .style("stroke", "none")
                }
                // add the squares

                var mousemove = function(d) {
                    var source;
                    if (d.MedSource == "1"){
                        source = "門診"
                    }else if(d.MedSource == "3"){
                        source = "急診"
                    }else{
                        source = "住院"
                    }
                    tooltip
                        .html("來源：" + source + "<br>" +
                              "藥名：" + d.MedName + "<br>" +
                              "天數：" + d.MedDay + "<br>" +
                              "生效日期：" + d.MedStart + "<br>" +
                              "結束日期：" + d.MedEnd)
                      .style("left", (d3.mouse(this)[0]+420) + "px")
                      .style("top", (d3.mouse(this)[1]+145) + "px")
                }

                var mouseclick = function(d) {
                    mednamedata = {
                        "MedStart":d.MedStart,
                        "MedName":d.MedName,
                        "PatientId":patient_id_search
                    }
                    $("#history_grid").kendoGrid({
                        columns: [
                                { field: "Item", title: "項", width: "5%" },
                                { field: "MedName", title: "藥名", width: "10%" },
                                { field: "MedClass", title: "藥品分類", width: "7%" },
                                { field: "MAmount", title: "藥量", width: "7%" },
                                { field: "MUnit", title: "單位", width: "7%" },
                                { field: "MFrequency", title: "頻次", width: "7%" },
                                { field: "MedWay", title: "途徑", width: "7%" },
                                { field: "MedDay", title: "天數", width: "7%" },
                                { field: "MTotal", title: "總量", width: "7%" },
                                { field: "MedStart", title: "開始", width: "7%" },
                                { field: "MedEnd", title: "結束", width: "7%" },
                                { field: "MedSource", title: "來源", width: "7%" },
                                { field: "MedDivision", title: "開藥科別", width: "7%" },
                                { field: "MDoctor", title: "開藥醫師", width: "7%" }


                        ],dataSource: {
                            transport: {
                                read: {
                                    url:"GetMedDayData",
                                    type:"post",
                                    dataType:"json",
                                    data:mednamedata
                                }
                            }
                        }
                    });
                }

                svg.selectAll()
                    .data(data, function(d) {return d.MedStart+':'+d.MedSource;})
                    .enter()
                    .append("rect")
                    .attr("x", function(d) { return x(d.MedStart) })
                    .attr("y", function(d) { return y(d.MedName) })
                    .attr("width", x.bandwidth() )
                    .attr("height", y.bandwidth() )
                    .style("fill", function (d) {
                        if(d.MedSource == 1){
                            return myColor(0);
                        }else if(d.MedSource == 3){
                            return myColor(1);
                        }else{
                            return myColor(2);
                        }
                    })
                    .on("mouseover", mouseover)
                    .on("mousemove", mousemove)
                    .on("mouseleave", mouseleave)
                    .on("click", mouseclick)
                svg.selectAll()
                .data(data)
                .enter().append("text")
                .attr("x", function(d) { return x(d.MedStart)+x.bandwidth()/2-10 })
                .attr("y", function(d) { return y(d.MedName)+y.bandwidth()/2+10 })
                .style("font-size",20)
                /*
                .text(function(d) {
                    if(d.MedSource == 1){
                        return "門診";
                    }else if(d.MedSource == 3){
                        return "急診";
                    }else{
                        return "住院";
                    }
                });
                */
            })
            $("#lable_color").show();
        }
</script>



    <!--treeView style-->
    <style>
        #treeview .k-sprite {
            background-image: url("../content/web/treeview/coloricons-sprite.png");
            overflow: hidden;
        }

        .rootfolder {
            background-position: 0 0;
        }

        .folder {
            background-position: 0 -16px;
        }

        .pdf {
            background-position: 0 -32px;
        }

        .html {
            background-position: 0 -48px;
        }

        .image {
            background-position: 0 -64px;
        }
    </style>

}


