
@{
    ViewBag.Title = "MHistory";
}

@section head
{

}
@section body
{
    <div>
        <div>
            <div style="float:left; width:20%; background:red;">
                <h4>曾經使用過的藥品</h4>
                <div id="m_treeview"></div>

            </div>
            <div id="m_scheduler" style="float:left; width:80%"></div>
            <!--
            <div style="padding-top: 2em; ">
                <h4>Status</h4>
                <p id="result">No nodes checked.</p>
            </div>-->

        </div>
        <input type="button" id="delete" value="Delete" onclick="location.href = '/Home/MHistory'" class="btn" style="background-color: #CCDDFF; color:#194284; " />
    </div>


    <div class="grid_box" id="history_grid" style="margin-top:30px "></div>
    <script>

        var medclassid = [0];
        var patient_id_search = "";
        patient_id_search = @Html.Raw(Json.Encode(ViewBag.search_id));
        //藥物treeview
        $("#m_treeview").kendoTreeView({
            checkboxes: {
                checkChildren: true
            },
            check: onCheck,
            dataSource: [{
                id: 1, text: "病人姓名", expanded: true, spriteCssClass: "rootfolder", items: [
                    {
                        id: 2, text: "抗生素", expanded: true, spriteCssClass: "folder"
                    },
                    {
                        id: 3, text: "抗凝血劑", expanded: true, spriteCssClass: "folder"
                    },
                    {
                        id: 4, text: "抗結核病用藥", expanded: true, spriteCssClass: "folder"
                    },
                    {
                        id: 5, text: "癌症用藥", expanded: true, spriteCssClass: "folder"
                    },
                    {
                        id: 6, text: "高警訊用藥", expanded: true, spriteCssClass: "folder"
                    },
                    {
                        id: 7, text: "胰島素", expanded: true, spriteCssClass: "folder"
                    },
                    {
                        id: 8, text: "電解質", expanded: true, spriteCssClass: "folder"
                    },
                    {
                        id: 9, text: "管制藥品", expanded: true, spriteCssClass: "folder"
                    },
                    {
                        id: 10, text: "HIV用藥", expanded: true, spriteCssClass: "folder"
                    },
                    {
                        id: 11, text: "一般用藥", expanded: true, spriteCssClass: "folder"
                    }

                ]
            }]
        });

        // function that gathers IDs of checked nodes
        function checkedNodeIds(nodes, checkedNodes) {
            for (var i = 0; i < nodes.length; i++) {
                if (nodes[i].checked) {
                    checkedNodes.push(nodes[i].id );
                }

                if (nodes[i].hasChildren) {
                    checkedNodeIds(nodes[i].children.view(), checkedNodes);
                }
            }

        }

        // show checked node IDs on datasource change
        function onCheck(e) {
            //console.log(this.text(e.node));
            var checkedNodes = [],
                treeView = $("#m_treeview").data("kendoTreeView"),
                message;

            checkedNodeIds(treeView.dataSource.view(), checkedNodes);
            if (checkedNodes.length > 0 && checkedNodes[0]!= 1) {
                message = checkedNodes;
                medclassid = message.join();
            } else {
                message = "2,3,4,5,6,7,8,9,10,11";
                medclassid = message;
            }

            med_sch_history = {
                "PatientId":patient_id_search,
                "MedClassId":medclassid
            }
            // $("#result").html(message);

            /*var data = [{
                id: 1,
                user: "Jon",
                from: new Date("2020/05/01 11:30").getDate(),
                to: new Date("2020/05/02 14:45").getDate(),
                color: "Red"
            }, {
                id: 2,
                user: "Joe",
                from: new Date("2020/05/03").getDate(),
                to: new Date("2020/05/04").getDate(),
                color: "Purple"
            }, {
                id: 3,
                user: "Joe",
                from: new Date("2020/05/01").getDate(),
                to: new Date("2020/05/02").getDate(),
                color: "Yellow"
            }, {
                id: 4,
                user: "Joe",
                from: new Date("2020/05/02").getDate(),
                to: new Date("2020/05/03").getDate(),
                color: "Red"
            }, {
                id: 5,
                user: "Joe",
                from: new Date("2020/05/04").getDate(),
                to: new Date("2020/05/05").getDate(),
                color: "Green"
            }, {
                id: 6,
                user: "Joe",
                from: new Date("2014/01/01 15:45").getTime(),
                to: new Date("2014/01/01 16:00").getTime(),
                color: "Red"
            }];*/
          

            var meddata = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "GetMedHistoryData",
                        type: "post",
                        data: med_sch_history
                    }
                },
                group: {
                    field: "Item"
                },

                sort: {
                    field: "MedStart",
                    dir: "desc"
                },
                schema: {
                    model: {
                        fields: {
                            date: {
                                type: "date"
                            }
                        }
                    }
                }
            });
            console.log(meddata._pristineData);
            //medicine scheduler
            $("#m_scheduler").kendoChart({
                dataSource: meddata,
                series: [{
                    type: "rangeBar",
                    fromField: new Date("MedStart").getDate(),
                    toField: new Date("MedStart").getDate()+1,
                    categoryField: "MedName",
                    spacing: -1
                }],
                valueAxis: {
                    min: new Date("2020/04/25").getDate(),
                    max: new Date("2020/05/01").getDate(),
                    baseUnit: "days",
                    majorUnit: 1,
                    labels: {
                        template: "#= kendo.toString(new Date(value), 'MM/dd') #"
                    }
                },
                legend: {
                    visible: true

                },

            });

            
        }

        //history grid
        $("#history_grid").kendoGrid({
            height: "200px",
            columns: [
                    { field: "Item", title: "項", width: "5%" },
                    { field: "MName", title: "藥名", width: "10%" },
                    { field: "MClass", title: "藥品分類", width: "7%" },
                    { field: "MAmount", title: "藥量", width: "7%" },
                    { field: "MUnit", title: "單位", width: "7%" },
                    { field: "MFrequency", title: "頻次", width: "7%" },
                    { field: "MWay", title: "途徑", width: "7%" },
                    { field: "MDay", title: "天數", width: "7%" },
                    { field: "MTotal", title: "總量", width: "7%" },
                    { field: "MStart", title: "開始", width: "7%" },
                    { field: "MEnd", title: "結束", width: "7%" },
                    { field: "MO", title: "來源", width: "7%" },
                    { field: "MBranch", title: "開藥科別", width: "7%" },
                    { field: "MDoctor", title: "開藥醫師", width: "7%" }


            ]
        })
    </script>


    <!--treeView style-->
    <style>
        /* Create three equal columns that sits next to each other */

        #treeview .k-sprite {
            background-image: url("../content/web/treeview/coloricons-sprite.png");
            overflow: hidden;
        }

        .rootfolder {
            background-position: 0 0;
        }

        .folder {
            background-position: 0 -16px;
        }

        .pdf {
            background-position: 0 -32px;
        }

        .html {
            background-position: 0 -48px;
        }

        .image {
            background-position: 0 -64px;
        }
    </style>

}


