
@{
    ViewBag.Title = "Search";
}


@section head
{
    <h2> </h2>
}

@section body
{

    <div>
        <div class="search_row" role="form">
            <div class="search_column">
                <label for="email">病歷號碼 : </label>
                <input type="email" class="form-control" id="patient_id" placeholder="Enter patient ID">
            </div>
            <div class="search_column">
                <label for="pwd">醫生姓名 : </label>
                <input type="password" class="form-control" id="doctor_name" placeholder="Enter doctor name">
            </div>
            <div class="search_column">
                <label for="pwd">科別 : </label>
                <input type="password" class="form-control" id="division" placeholder="Enter division">
            </div>
        </div>

        <div class="search_column_b">
            <input type="button" value="查詢" class="btn btn_search" style="background-color: #99b2db; color:#194284" />
        </div>
    </div>

    <br><br>

    <div class="grid_box"  >
        <div id="patient_grid"></div>


    </div>





}

@section featured {

}

<script>

    $(".btn_search").click(function () {
        $("#patient_grid").kendoGrid({
            height: 500,
            columns: [
                { field: "BedId", title: "床號", width: "10%" },
                { field: "PatientId", title: "病歷號碼", width: "30%" },
                { field: "PatientName", title: "病人名稱", width: "10%" },

            ],
            dataSource: {
                data: [{
                    BedId: "123",
                    PatientId: "123",
                    PatientName: "閔Suga"
                },
                {
                    BedId: "456",
                    PatientId: "456",
                    PatientName: "Ariel"
                }]
            }
        });
    });



</script>
